SERVER_PORT=5002
# Postgres Credentials
DATABASE_URL=postgresql://user:password@localhost:5432/imbass
# JWT Secrets
JWT_SECRET=supersecretjwtkey
JWT_EXPIRATION=15m
REFRESH_TOKEN_SECRET=supersecretrefreshtoken
REFRESH_TOKEN_EXPIRATION=7d
NODE_ENV=development
